/* Author: Pavel Mednikov (hello@pavelmednikov.com) */
/* ============================ */
/* ============================ */
/* FONTS */
@font-face {
  font-family: "MyCenturyGothic";
  src: url("/fonts/CenturyGothic.ttf") format("truetype"); }
/* ============================ */
/* ============================ */
/* FLUID IMAGES */
img, embed, object, video, iframe {
  max-width: 100%; }

/* ============================ */
/* ============================ */
/* SETTINGS */
input,
input.form-control,
textarea.form-control {
  outline: none;
  color: #a7dcfe; }

button, textarea,
button:hover, textarea:hover,
button:focus, textarea:focus,
button:active, textarea:active {
  outline: none !important; }

.modal .form-control {
  color: #a7dcfe; }
  .modal .form-control:focus {
    border: 1px solid #a7dcfe; }
.modal .modal-header {
  background-color: #a7dcfe; }
  .modal .modal-header .modal-title {
    color: #fff; }
  .modal .modal-header .close {
    color: #fff; }

.parsley-error {
  border-color: red; }
  .parsley-error:focus {
    border-color: red !important; }

.parsley-errors-list {
  padding-left: 0;
  color: red; }
  .parsley-errors-list li {
    font-size: 12px;
    list-style-type: none; }

.btn {
  display: inline-block !important;
  background-color: #fff;
  margin: 0 auto;
  padding: 16px 30px;
  color: #0083ba;
  text-decoration: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  font-family: 'MyCenturyGothic','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 #72b4df;
  border: none; }
  .btn:hover, .btn:focus {
    color: #fff;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .btn.btn-primary {
    border: none; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #72b4df; }

img {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'MyCenturyGothic','Century Gothic', CenturyGothic, AppleGothic, sans-serif; }

a {
  color: #000;
  border-bottom: 1px solid #000; }
  a:hover, a:focus {
    text-decoration: none;
    color: #0083ba;
    border-color: #0083ba; }

b, strong {
  font-weight: bolder; }

i {
  font-style: italic; }

small, .small {
  font-size: 85%; }

hr {
  width: 100px; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* ELEMENTS */
.dark-bg {
  color: #fff; }
  .dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6 {
    text-shadow: 0 5px 15px #72b4df; }

.feature {
  position: relative; }
  .feature * {
    position: relative; }
  .feature:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 5px 15px 0 #72b4df; }
  .feature.feature-big:before {
    height: 75%; }

.text h1, .text h2, .text h3, .text h4, .text h5, .text h6, .text h2, .text h3, .text h4, .text h5, .text h6 {
  margin-bottom: 1rem; }
.text ol, .text ul, .text dir, .text menu, .text dd {
  margin-left: 40px;
  margin-bottom: 20px; }
.text ol {
  list-style-type: decimal; }
.text ul {
  list-style-type: disc; }
.text ol ul, .text ul ol, .text ul ul, .text ol ol {
  margin-top: 0;
  margin-bottom: 0; }
.text ul ul, .text ol ul {
  list-style-type: circle;
  margin-left: 30px; }
.text ol ol, .text ul ol {
  list-style-type: lower-latin;
  margin-left: 30px; }
.text blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 60px;
  position: relative;
  font-style: italic; }
  .text blockquote:before {
    content: "\201C";
    position: absolute;
    top: -68px;
    left: -20px;
    font-size: 180px;
    z-index: -1; }
.text p {
  line-height: 1.5em; }
  .text p img {
    text-align: center; }
  .text p + h1, .text p + h2, .text p + h3, .text p + h4, .text p + h5, .text p + h6, .text p + h2, .text p + h3, .text p + h4, .text p + h5, .text p + h6 {
    margin-top: 1.75em; }
.text img {
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 3rem 4rem rgba(50, 8, 154, 0.25);
  margin-top: 60px;
  margin-bottom: 100px; }
.text.inner {
  padding: 40px !important; }
.text .quote {
  font-size: 24px;
  font-weight: 100; }

img.cover {
  margin-top: 0; }

img.emoji {
  display: inline;
  margin: 0; }

.card {
  border: none;
  border-radius: 0;
  box-shadow: 0 5px 15px 0 #72b4df; }

.socials {
  list-style-type: none; }
  .socials li {
    display: inline-block; }
    .socials li a {
      display: inline-block;
      margin: 0 .25rem;
      color: #777;
      border-bottom: none; }
      .socials li a:hover {
        color: #000; }

.breadcrumb {
  font-size: 13px;
  padding: .75rem 0;
  margin-bottom: 0; }

.navbar-toggler {
  border-color: #777;
  border-radius: 0; }
  .navbar-toggler:hover {
    cursor: pointer; }

.navbar-toggler-right {
  right: 0; }

.modal .modal-dialog .modal-content {
  padding: 0 2rem;
  border: none;
  border-radius: 0; }
  .modal .modal-dialog .modal-content .modal-header {
    padding-bottom: 0;
    border-bottom: none;
    background: #fff; }
    .modal .modal-dialog .modal-content .modal-header .close {
      color: #0083ba;
      opacity: 1; }
  .modal .modal-dialog .modal-content .modal-footer {
    border-top: none;
    padding: 2rem;
    padding-top: 0; }

/* GRID */
.wrap {
  padding-right: 56px;
  padding-left: 56px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

/* particles.js */
.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

#particles-js,
#particles-js-test {
  position: fixed;
  top: 0;
  width: calc(100% - 112px);
  height: 100vh;
  min-height: 100vh;
  background-color: #a7dcfe;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

canvas {
  display: block;
  vertical-align: bottom; }

.highlight {
  padding-left: 20px; }

.highlight .hll {
  background-color: #ffffcc; }

.highlight .c {
  color: #aaaaaa;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #F00000;
  background-color: #F0A0A0; }

/* Error */
.highlight .k {
  color: #0000aa; }

/* Keyword */
.highlight .cm {
  color: #aaaaaa;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #4c8317; }

/* Comment.Preproc */
.highlight .c1 {
  color: #aaaaaa;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #0000aa;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #aa0000; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00aa00; }

/* Generic.Inserted */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  color: #0000aa; }

/* Keyword.Constant */
.highlight .kd {
  color: #0000aa; }

/* Keyword.Declaration */
.highlight .kn {
  color: #0000aa; }

/* Keyword.Namespace */
.highlight .kp {
  color: #0000aa; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #0000aa; }

/* Keyword.Reserved */
.highlight .kt {
  color: #00aaaa; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #aa5500; }

/* Literal.String */
.highlight .na {
  color: #1e90ff; }

/* Name.Attribute */
.highlight .nb {
  color: #00aaaa; }

/* Name.Builtin */
.highlight .nc {
  color: #00aa00;
  text-decoration: underline; }

/* Name.Class */
.highlight .no {
  color: #aa0000; }

/* Name.Constant */
.highlight .nd {
  color: #888888; }

/* Name.Decorator */
.highlight .ni {
  color: #800000;
  font-weight: bold; }

/* Name.Entity */
.highlight .nf {
  color: #00aa00; }

/* Name.Function */
.highlight .nn {
  color: #00aaaa;
  text-decoration: underline; }

/* Name.Namespace */
.highlight .nt {
  color: #1e90ff;
  font-weight: bold; }

/* Name.Tag */
.highlight .nv {
  color: #aa0000; }

/* Name.Variable */
.highlight .ow {
  color: #0000aa; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #aa5500; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #aa5500; }

/* Literal.String.Char */
.highlight .sd {
  color: #aa5500; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #aa5500; }

/* Literal.String.Double */
.highlight .se {
  color: #aa5500; }

/* Literal.String.Escape */
.highlight .sh {
  color: #aa5500; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #aa5500; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #aa5500; }

/* Literal.String.Other */
.highlight .sr {
  color: #009999; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #aa5500; }

/* Literal.String.Single */
.highlight .ss {
  color: #0000aa; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #00aaaa; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #aa0000; }

/* Name.Variable.Class */
.highlight .vg {
  color: #aa0000; }

/* Name.Variable.Global */
.highlight .vi {
  color: #aa0000; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
/* ============================ */
/* ============================ */
/* MAIN STYLES */
html, body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #000; }

.navbar {
  padding: 10px 0;
  background-color: #fff; }
  .navbar a {
    border-bottom: 0; }
  .navbar .navbar-brand {
    padding: 0; }
    .navbar .navbar-brand img {
      height: 36px; }
  .navbar .navbar-nav .nav-item .nav-link {
    display: inline-block;
    font-size: .875em;
    padding: 0;
    margin: 0 1rem;
    font-weight: bold;
    color: #000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item:hover .nav-link, .navbar .navbar-nav .nav-item:focus .nav-link {
    border-bottom-color: #000; }
  .navbar .navbar-nav .nav-item.dropdown .nav-link {
    color: #777;
    font-weight: normal;
    border-bottom: none; }

.flag-icon {
  font-size: .875em;
  padding: 0;
  margin: 0;
  margin-right: .3rem;
  box-shadow: 0 0 1px 0 #a7dcfe; }

.scroll {
  border-bottom: none; }
  .scroll img {
    display: inline-block;
    width: 50px; }

.slogan {
  font-size: 3rem; }

.price {
  position: relative;
  top: -3.5rem;
  margin-bottom: -3rem;
  font-size: 6.25rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; }

#herosection {
  margin-bottom: 12rem !important; }

.btn-donate span {
  padding: 2px 0; }
.btn-donate img {
  height: 24px;
  margin-left: 30px; }

.content {
  overflow: hidden;
  padding-top: 56px;
  padding-bottom: 56px; }

.container {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.lead {
  padding-top: 8rem; }
  .lead .lead-logo {
    display: inline-block;
    width: 80%; }

.news-card {
  margin-bottom: 1.875rem;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 #72b4df; }
  .news-card .pic {
    width: 50%;
    float: left;
    height: 225px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .news-card .info {
    width: 50%;
    float: right;
    padding: 1rem; }
    .news-card .info .date {
      margin-bottom: .625rem;
      font-size: 0.75rem;
      color: #777; }
    .news-card .info .title {
      line-height: inherit; }
      .news-card .info .title a {
        border-bottom: 0; }
        .news-card .info .title a:hover {
          border-bottom: 0; }
    .news-card .info.info-single {
      width: 100%;
      height: 225px; }
      .news-card .info.info-single .title {
        font-size: 1.35rem; }

.post {
  box-shadow: 0 5px 15px 0 #72b4df; }

.post-header {
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 350px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .post-header:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .post-header .title,
  .post-header .date {
    position: absolute;
    display: block;
    width: 98%;
    width: -webkit-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem);
    bottom: 1rem; }
  .post-header .title {
    bottom: 4rem;
    text-shadow: none; }
  .post-header .date {
    font-size: .875rem;
    color: #a7dcfe; }
  .post-header.post-header-only-title {
    height: auto;
    background-color: #fff; }
    .post-header.post-header-only-title:before {
      display: none; }
    .post-header.post-header-only-title .title,
    .post-header.post-header-only-title .date {
      position: static;
      margin: 0; }
    .post-header.post-header-only-title .date {
      color: #0083ba; }

.post-content {
  overflow: hidden;
  background: #fff;
  padding: 4rem; }
  .post-content .title {
    margin-bottom: 2rem; }

.pagination {
  padding-top: .625rem;
  font-family: 'MyCenturyGothic','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  color: #0083ba; }
  .pagination a {
    color: #0083ba;
    border-bottom: 0; }
    .pagination a:hover {
      color: #000; }
  .pagination .feature {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem; }
  .pagination .pag-btn {
    position: relative;
    display: block;
    padding: 1rem;
    padding-top: 1.5rem;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 #72b4df; }
    .pagination .pag-btn span {
      display: block; }
    .pagination .pag-btn .link {
      position: absolute;
      top: -0.75rem; }
    .pagination .pag-btn .date {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: .875rem;
      color: #777; }
    .pagination .pag-btn .title {
      font-size: 1.125rem;
      color: #000; }
    .pagination .pag-btn.pag-btn-right .link {
      right: 1rem; }

.meta {
  color: #000; }

.technical-card,
.friends-card {
  display: block;
  height: 200px;
  margin-bottom: 1.875rem;
  padding: 1rem;
  padding-top: 2rem;
  border-bottom: none;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 #72b4df; }
  .technical-card img,
  .friends-card img {
    max-height: 80px;
    margin: 0 auto;
    margin-bottom: 2em; }

.friends-card {
  height: 160px; }

footer {
  font-size: .875em;
  height: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  color: #777; }

@media (max-width: 991px) {
  .lead {
    padding-top: 4rem; }

  .navbar .navbar-nav .nav-item {
    text-align: center; }
    .navbar .navbar-nav .nav-item .nav-link {
      margin: .5rem 1rem; } }
@media (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.75rem; }

  h2 {
    font-size: 1.625rem; }

  h3 {
    font-size: 1.5rem; }

  h4 {
    font-size: 1.375rem; }

  h5 {
    font-size: 1.125rem; }

  h6 {
    font-size: 1rem; }

  .lead {
    margin-top: 0; }

  .slogan {
    font-size: 1rem; }

  .price {
    top: -1rem;
    margin-bottom: -0.75rem;
    font-size: 2rem; } }
@media (max-width: 575px) {
  html, body {
    font-size: 0.875rem; }

  .wrap {
    padding-right: 1rem;
    padding-left: 1rem; }

  #particles-js,
  #particles-js-test {
    width: calc(100% - 2rem); }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem; }

  h2 {
    font-size: 1.375rem; }

  h3 {
    font-size: 1.125rem; }

  h4 {
    font-size: 1rem; }

  h5 {
    font-size: .875rem; }

  h6 {
    font-size: .75rem; }

  .slogan {
    font-size: 1.625rem; }

  .btn-donate span {
    float: inherit;
    display: block;
    margin: 0 auto; }
  .btn-donate img {
    float: inherit;
    display: none;
    margin: 0 auto; }

  .news-card .pic {
    width: 100%;
    float: inherit;
    height: 225px; }
  .news-card .info {
    width: 100%;
    float: inherit; }

  .post-content {
    padding: 2rem; }

  .technical-card,
  .friends-card {
    height: auto; } }

/*# sourceMappingURL=style.css.map */
