/* ============================ */
/* ============================ */
/* FONTS */
@mixin fontcaption{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

@mixin fontstack{
    font-family: 'Roboto', sans-serif;
}

@mixin fastack{
    font-family: FontAwesome, 'Roboto', sans-serif;
}