/* Author: Evgeniy Russkiy (real.chutkoy89@gmail.com) */
// VARIABLES
// --colors
$white:         #fff;

$brand:         #a7dcfe;
$brand-dark:    #72b4df;
$brand-text:    #0083ba;

$grey:          #777;
$gray:          $grey;

$black:         #000;



// --measures
$margin:    10px;
$border:    56px;


// MIXINS
// add with @include %mixin_name%
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-2($radius1, $radius2) {
  -webkit-border-radius: $radius1 $radius2;
     -moz-border-radius: $radius1 $radius2;
      -ms-border-radius: $radius1 $radius2;
          border-radius: $radius1 $radius2;
}

@mixin border-radius-3($radius1, $radius2, $radius3) {
  -webkit-border-radius: $radius1 $radius2 $radius3;
     -moz-border-radius: $radius1 $radius2 $radius3;
      -ms-border-radius: $radius1 $radius2 $radius3;
          border-radius: $radius1 $radius2 $radius3;
}

@mixin border-radius-4($radius1, $radius2, $radius3, $radius4) {
  -webkit-border-radius: $radius1 $radius2 $radius3, $radius4;
     -moz-border-radius: $radius1 $radius2 $radius3, $radius4;
      -ms-border-radius: $radius1 $radius2 $radius3, $radius4;
          border-radius: $radius1 $radius2 $radius3, $radius4;
}

@mixin animation($duration) {
  -webkit-transition: all $duration ease-in-out;
     -moz-transition: all $duration ease-in-out; 
       -o-transition: all $duration ease-in-out; 
          transition: all $duration ease-in-out;
}

// Specific mixins
@mixin box-shadow($size, $color){
  -webkit-box-shadow: 0px 0px 2*$size $size $color;
     -moz-box-shadow: 0px 0px 2*$size $size $color;
          box-shadow: 0px 0px 2*$size $size $color;
}


// FONTS
@import 'fonts';

// CSS RESET
// @import 'reset';

// FLUID IMAGES
@import 'fluid-images';

// SETTINGS & GRID
@import 'settings';


// MAIN STYLES
@import 'main';


// // MEDIA QUERIES
// // --to 1366
// @media only screen and (max-width: 1365px) {
//   @import '960';
// }

// // --to 1023
// @media only screen and (max-width: 1023px) {
//   @import '720';
// }

// // --to 740
// @media only screen and (max-width: 740px) {
//   @import '320';
// }


@media (max-width: 1199px) {
  
}

@media (max-width: 991px) {
  .lead{
    padding-top: 4rem;
  }
  .navbar{
    .navbar-nav{
      .nav-item{
        text-align: center;
        .nav-link{
          margin: .5rem 1rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  h1{
    font-size: 1.75rem;
  }
  h2{
    font-size: 1.625rem;
  }
  h3{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.375rem;
  }
  h5{
    font-size: 1.125rem;
  }
  h6{
    font-size: 1rem;
  }

  .lead{
    margin-top: 0;
  }

  .slogan{
    font-size: 1rem;
  }
  .price{
    top: -1rem;
    margin-bottom: -0.75rem;
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  html, body{
    font-size: 0.875rem;
  }
  .wrap{
      padding-right: 1rem;
      padding-left: 1rem;
  }
  #particles-js,
  #particles-js-test{
    width: calc(100% - 2rem);
  }

  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.375rem;
  }
  h3{
    font-size: 1.125rem;
  }
  h4{
    font-size: 1rem;
  }
  h5{
    font-size: .875rem;
  }
  h6{
    font-size: .75rem;
  }

  .navbar{
    .navbar-nav{
      .nav-item{
        .nav-link{
          margin-bottom: 0;
        }
        &.dropdown{
          .nav-link{
            color: $grey;
            font-weight: normal;
            border-bottom: none;
          }
          .dropdown-item{
          	width: 33%;
          	float: left;
          	text-align: center;
          	clear: initial;
          }
        }
      }
    }
  }

  .slogan{
    font-size: 1.625rem;
  }

  .btn-donate{
    span{
      float: inherit;
      display: block;
      margin: 0 auto;
      // margin-bottom: 1rem;
    }
    img{
      float: inherit;
      display: none;
      margin: 0 auto;
    }
  }

  .news-card{
    .pic{
      width: 100%;
      float: inherit;
      height: 225px;
    }
    .info{
      width: 100%;
      float: inherit;
    }
  }

  .post-content{
    padding: 2rem;
/*    iframe{
       display: none;
    }*/
  }

  .technical-card,
  .friends-card{
    height: auto;
  }

  .modal-footer {
    display: block;
    a{
      display: block !important;
      width: 100%;
      margin-bottom: 1em;
    }
  }
  .modal-footer>:not(:first-child){
    margin-left: 0;
  }


}
