<footer class="fixed-bottom">
  <div class="wrap">
    <div class="row">
      <div class="col">2017 &copy; «{{ site.title }}»</div>
      <div class="col text-right">
        <ul class="socials">
          <li><a href="{{site.skype_link}}"><i class="fa fa-skype"></i></a></li>
          <li><a href="{{site.youtube_link}}"><i class="fa fa-youtube"></i></a></li>
          <li><a href="{{site.googleplus_link}}"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="{{site.facebook_link}}"><i class="fa fa-facebook-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>