<header class="fixed-top">
  <div class="wrap">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}">
        <img src="{{site.baseurl}}/img/logo.svg" alt="Lincoln virus">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{site.baseurl}}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/news">Новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/technical">Технические советники REAl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/friends">Друзья проекта</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="flag-icon flag-icon-ru"></span> RU
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-gb"></span> EN</a>
              <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-de"></span> DE</a>
              <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-pl"></span> PL</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>