<div class="row pagination pagination-post justify-content-center">

<!--   {% if page.previous.url %}  
  <div class="col-12 col-md-5 mb-4">
    <a href="{{page.previous.url}}" class="pag-btn pag-btn-back">
      <span class="link"><i class="fa fa-chevron-left"></i>&nbsp;Предыдущая новость</span>
      <span class="date">{{page.previous.date | date: "%d.%m.%Y"}}</span>
      <span class="title">{{page.previous.title}}</span>
    </a>
  </div>
  {% endif %}

  {% if page.next.url %} 
  <div class="col-12 col-md-5 mb-4">
    <a href="{{page.next.url}}" class="pag-btn pag-btn-right">
      <span class="link text-right">Следующая новость&nbsp;<i class="fa fa-chevron-right"></i></span>
      <span class="date">{{page.next.date | date: "%d.%m.%Y"}}</span>
      <span class="title">{{page.next.title}}</span>
    </a>
  </div>
  {% endif %} -->

  {% for post in site.posts %}
    {% if post.lang == page.lang %}
      {% if prev %}
      <div class="col-12 col-md-5 mb-4">
        <a href="{{post.url}}" class="pag-btn pag-btn-back">
          <span class="link"><i class="fa fa-chevron-left"></i>&nbsp;Предыдущая новость</span>
          <span class="date">{{post.date | date: "%d.%m.%Y"}}</span>
          <span class="title">{{post.title}}</span>
        </a>
      </div>
      {% endif %}
      {% assign prev = false %}
      {% if post.id == page.id %}
        {% assign prev = true %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for post in site.posts reversed %}
    {% if post.lang == page.lang %}
      {% if next %}
       <div class="col-12 col-md-5 mb-4">
         <a href="{{post.url}}" class="pag-btn pag-btn-right">
           <span class="link text-right">Следующая новость&nbsp;<i class="fa fa-chevron-right"></i></span>
           <span class="date">{{post.date | date: "%d.%m.%Y"}}</span>
           <span class="title">{{post.title}}</span>
         </a>
       </div>
        {% break %}
      {% endif %}
      {% assign next = false %}
      {% if post.id == page.id %}
        {% assign next = true %}
      {% endif %}
    {% endif %}
  {% endfor %}

</div>