<div class="row pagination">

	<div class="col text-left">
		<div class="feature">
			<span class="jpages-prev"><i class="fa fa-chevron-left"></i>&nbsp;{{site.t[page.lang].paginate.previous}}</span>
		</div>
	</div>

	<div class="col hidden-sm-down text-center">
		<span class="jpages-pages"></span>
	</div>

	<div class="col text-right">
		<div class="feature">
			<span class="jpages-next">{{site.t[page.lang].paginate.next}}&nbsp;<i class="fa fa-chevron-right"></i></span>
		</div>
	</div>

</div>



<div class="holder"></div>

<script type="text/javascript">
  $(function() {
    $("div.holder").jPages({
        containerID : "itemContainer",
        perPage: 4,
        midRange: 0,
        startRange: 0,
        endRange: 0,
        keyBrowse: true,
        previous: ".jpages-prev",
        next: ".jpages-next",
        minHeight: false,

        callback: function( pages ){
          if ( pages.count != 1) {
          	// $(".jpages-current").html(pages.current);
          	// $(".jpages-total").html(pages.count);
          	$(".jpages-pages").html('Страница '+ pages.current + ' из ' + pages.count + ' ');
          }
        }
    });
  });
</script>