---
layout: default
category: project_list
---

<script>
    function customInterval($class, $selector, $number, $time) {
      var i = 0;
      setInterval(function(){
        $("." + $class + " .active").removeClass('active');
        $("." + $selector + Number(Number(i)+1)).addClass('active');
        i = Number(Number(i)+1) % $number;
      }, $time);
    }
    $(function() {
      measure();
    });
    $(window).scroll(function(){ measure(); });
    function measure() {
      customInterval('cat', 'c', 4, 100);
      customInterval('deckman', 'd', 2, 150);
      customInterval('bombx', 'b', 2, 150);
      customInterval('ley', 'l', 7, 100);
      customInterval('lila', 'li', 4, 100);
      customInterval('kimi', 'k', 8, 100);
      customInterval('mimi', 'm', 8, 100);
      customInterval('ray', 'r', 8, 100);

      if ($(window).width() / $(window).height() > 1.77) $('.bg').width($('.bg').height() * 3840 / 2160);
      else $('.bg').height($('.bg').width() * 2160 / 3840);
      $('.cat').width($('.bg').width() * 0.05);
      $('.cat').css('left', $('.bg').width() * 0.06);
      $('.cat').css('top', $('.bg').height() * 0.03);


      $('.ley').width($('.bg').width() * 0.125);
      $('.ley').css('left', $('.bg').width() * 0.093);
      $('.ley').css('top', $('.bg').height() * 0.16);


      $('.deckman').width($('.bg').width() * 0.2);
      $('.deckman').css('left', $('.bg').width() * 0.286);
      $('.deckman').css('top', $('.bg').height() * 0.454);

      $('.kimi').width($('.bg').width() * 0.32);
      $('.kimi').css('left', $('.bg').width() * 0.652);
      $('.kimi').css('top', $('.bg').height() * 0.181);

      $('.bombx').width($('.bg').width() * 0.12);
      $('.bombx').css('left', $('.bg').width() * 0.52);
      $('.bombx').css('top', $('.bg').height() * 0.03);

      $('.ray').width($('.bg').width() * 0.323);
      $('.ray').height($('.bg').height() * 0.71);
      $('.ray').css('left', $('.bg').width() * 0.648);
      $('.ray').css('top', $('.bg').height() * 0.175);

      $('.bt').width($('.bg').width() * 0.051);
      $('.bt').css('left', $('.bg').width() * 0.63);
      $('.bt').css('top', $('.bg').height() * 0.46);


      $('.lila').width($('.bg').width() * 0.15);
      $('.lila').css('left', $('.bg').width() * 0.3);
      $('.lila').css('top', $('.bg').height() * 0.03);

      $('.mimi').width($('.bg').width() * 0.3);
      $('.mimi').css('left', $('.bg').width() * 0.00);
      $('.mimi').css('bottom', 0);

      $('.polka').width($('.bg').width() * 0.305);
      $('.polka').css('left', $('.bg').width() * 0.019);
      $('.polka').css('top', $('.bg').height() * 0.071);

      $('.poster').width($('.bg').width() * 0.13);
      $('.poster').css('left', $('.bg').width() * 0.367);
      $('.poster').css('top', $('.bg').height() * 0.051);

      $('.stelaj').width($('.bg').width() * 0.089);
      $('.stelaj').css('left', 0);
      $('.stelaj').css('bottom', 0);

      $('.stelaj2').width($('.bg').width() * 0.137);
      $('.stelaj2').css('left', 0);
      $('.stelaj2').css('top', -1);

      $('.logo').width($('.bg').width() * 0.11);
      $('.logo').css('left', $('.bg').width() * 0.753);
      $('.logo').css('top', $('.bg').height() * 0.045);
    }
  </script>
  <style>
@font-face {
 font-family: "DigitalStrip";
 src: url("/fonts/v_DigitalStrip_v1.5.ttf") format("opentype");
}
  .x { display: none; } .active { display: block; }
  .cat:hover, .polka:hover, .poster:hover,.logo:hover, .stelaj:hover, .stelaj2:hover, .deckman:hover, .bombx:hover, .ley:hover, .lila:hover, .kimi:hover, .mimi:hover, .bt:hover, .ray>div:hover { cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 0 rgba(255, 255, 255, 0.4))
                  drop-shadow(-2px -2px 0 rgba(255, 255, 255, 0.4));
  filter: drop-shadow(2px 2px 0 rgba(255, 255, 255, 0.4)) 
          drop-shadow(-2px -2px 0 rgba(255, 255, 255, 0.4));
}

.logo { position: absolute; display: block; cursor: pointer; }
.cat { position: absolute; display: block; cursor: pointer; }
.ley { position: absolute; display: block; cursor: pointer; }
.deckman { position: absolute; display: block; z-index: 2; cursor: pointer; }
.kimi { position: absolute; display: none; cursor: pointer; }
.bombx { position: absolute; display: block; cursor: pointer; }
.mimi { position: absolute; display: block; cursor: pointer; }
.lila { position: absolute; display: block; z-index: 1; cursor: pointer; }
.ray { position: absolute; display: none; background: url(/anim/bg2.jpg); background-size: cover; z-index: 2; cursor: pointer; }
.m { position: absolute; display: block; bottom: 0px; z-index: 3; cursor: pointer; }
.bt { position: absolute; display: block; z-index: 3; cursor: pointer; }
.ray.active { display: block; cursor: pointer; }
.kimi.active { display: block; cursor: pointer; }
.bg img { width: 100%; }
.ray>div { z-index: 3; bottom: 0px; position: absolute; bottom: 0px;}
.polka { cursor: pointer; position: absolute; }
.poster { cursor: pointer; position: absolute; }
.stelaj { cursor: pointer; position: absolute; }
.stelaj2 { cursor: pointer; z-index: -1; position: absolute; }

.bg { background: url(/anim/bg.jpg); background-size: cover; height: 90%; width: 90%; display: block; position: relative; box-shadow: 0 5px 15px 0 #72b4df;}
/*.bg:before { background: url(/anim/bg.jpg); background-size: cover; width: 100%; height: 100%; content: ''; display: block; position: absolute; left: 0; top: 0;  }*/
.cloud { background: url(/anim/cloud.png); background-size: 100% 100%; padding: 100px 100px 160px 100px; font-size: 20px; min-height: 150px; max-width: 800px; display: none; align-items: center; justify-content: center; box-sizing: border-box; }
.cloud p { margin: 0px; font-family: 'DigitalStrip'; }
.modal {     position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .25);
    top: 0;
    left: 0; z-index: 100;    display: none;
    align-items: center;
    justify-content: center; }
   .modal.active { display: flex; }
   .cloud.active { display: flex; }
   .hero { display: none; }
   .hero.active { display: block; }
   .modal.active:before {
    content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; filter: blur(8px);
  -webkit-filter: blur(8px); 
   }
   .content { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: relative; }
   .modal.active+.content { filter: blur(8px);
  -webkit-filter: blur(8px); }

</style>

<div class="content wrap">
    <div class="bg">
      <div class="modal">
        <a href="javascript:void(0)" style="position: absolute;display: block;right: 50px;top:50px; width: 30px; height: 30px; text-decoration: none; border: none;" onclick="$('.hero').removeClass('active'); $('.cloud').removeClass('active'); $('.modal').removeClass('active');">
          <img src="/anim/cancel.png" style="width: 30px; height: 30px; display: block;">
        </a>
        <img class="hero deckman_img" src="/anim/deckman.png" style="width: 300px; float: left; margin-top: 100px;">
        <div class="cloud deckman_text">
          <p>Привет! Меня зовут Deckman. Я помогаю Эйбу собрать мебель, пока он занимается оформлением компании.</p>
        </div>
        <img class="hero cat_img" src="/anim/cat.png" style="width: 300px; float: left; margin-top: 100px;">
        <div class="cloud cat_text">
          <p>Фрр... фрр... фрр... Мяу?</p>
        </div>
        <img class="hero bombx_img" src="/anim/bombx.png" style="width: 300px; float: left; margin-top: 100px;">
        <div class="cloud bombx_text">
          <p>Надо успеть повесить полки, на которых Эйб разместит разные интересные сувениры и подарки. Упс! Извините что не представился - BoMbX.</p>
        </div>
        <img class="hero ley_img" src="/anim/ley.png" style="width: 300px; float: left; margin-top: 100px;">
        <div class="cloud ley_text">
          <p>Здравствуйте! Меня зовут Лей. Я помогаю Эйбу украсить полки. Рядом со мной на полке сидит Айкис. Очень способный кот.</p>
        </div>
        <img class="hero ray_img" src="/anim/ray.png" style="width: 300px; float: left; margin-top: 100px;">
        <div class="cloud ray_text">
          <p>Привет! Прошу прощения, но у меня не так много времени. Я занимаюсь поиском плохих людей. Если интересно о я говорю, можете на полке посмотреть файлы. Эйб коротко успел нарисовать прошедшую историю.</p>
        </div>
        <img class="hero lila_img" src="/anim/lila.png" style="width: 300px; float: left; margin-top: 100px;">
        <div class="cloud lila_text">
          <p>Я Лила. Эйб только заехал сюда и все мы помогаем ему обустроить его «рабочее» место. Мне доверили повестить несколько постеров. Хи-хи-хи...</p>
        </div>
        <img class="hero kimi_img" src="/anim/kimi.png" style="width: 300px; float: left; margin-top: 100px;">
        <div class="cloud kimi_text">
          <p>Так, молоко, хлеб, овощи, фруктов обязательно и ... Ой! Привет! Простите что не заметила Вас сразу. Меня зовут Кими Иоки. Надо купить продуктов, чтобы друзья смогли перекусить, пока помогают Эйбу.</p>
        </div>
        <img class="hero mimi_img" src="/anim/mimi.png" style="width: 300px; float: left; margin-top: 100px;">
        <div class="cloud mimi_text">
          <p>Добрый день! Меня зовут Мими. Мы успели собрать два стеллажа и я помогаю Эйбу разобрать коробки с книгами и комиксами. Что-то я уже успела поставить на полки. В неразобранных коробках ещё очень много интересного, поэтому Вы можете спросить у него о наличии товара. Уверенна, он найдёт Вам то, что ищете.</p>
        </div>
        <div class="hero socials">
          
        </div>
        <div class="hero comics">
          
        </div>
      </div>

      <div class="content">
        <a href="https://lincolnvirus.com/projects/ru/chestnyy_eyb/souvenirs.html"><img src="/anim/polka.png" class="polka"></a>
        <a href="https://lincolnvirus.com/projects/ru/chestnyy_eyb/posters.html"><img src="/anim/poster.png" class="poster"></a>
        <a href="https://lincolnvirus.com/projects/ru/chestnyy_eyb/shop.html"><img src="/anim/stelaj.png" class="stelaj"></a>
        <a href="https://lincolnvirus.com/projects/ru/chestnyy_eyb/contacts_eyb.html"><img src="/anim/logo_eyb.svg" class="logo"></a> 
        <img src="/anim/bt.png" class="bt" onclick="$('.ray').toggleClass('active');$('.kimi').toggleClass('active');">
        <div class="cat" onclick="$('.cat_img').addClass('active'); $('.cat_text').addClass('active'); $('.modal').addClass('active');">
          <img src="/anim/cat/c1.png" class="x c1 active">
          <img src="/anim/cat/c2.png" class="x c2">
          <img src="/anim/cat/c3.png" class="x c3">
          <img src="/anim/cat/c4.png" class="x c4">
        </div>

        <div class="deckman" onclick="$('.deckman_img').addClass('active'); $('.deckman_text').addClass('active'); $('.modal').addClass('active');">
          <img src="/anim/deckman/d1.png" class="x d1 active">
          <img src="/anim/deckman/d2.png" class="x d2">
        </div>
        <div class="bombx" onclick="$('.bombx_img').addClass('active'); $('.bombx_text').addClass('active'); $('.modal').addClass('active');">
          <img src="/anim/bombx/b1.png" class="x b1 active">
          <img src="/anim/bombx/b2.png" class="x b2">
        </div>

        <div class="ley" onclick="$('.ley_img').addClass('active'); $('.ley_text').addClass('active'); $('.modal').addClass('active');">
          <img src="/anim/ley/l1.png" class="x l1 active">
          <img src="/anim/ley/l2.png" class="x l2">
          <img src="/anim/ley/l3.png" class="x l3">
          <img src="/anim/ley/l4.png" class="x l4">
          <img src="/anim/ley/l5.png" class="x l5">
          <img src="/anim/ley/l6.png" class="x l6">
          <img src="/anim/ley/l7.png" class="x l7">
          <img src="/anim/ley/l8.png" class="x l8">
        </div>

        <div class="lila" onclick="$('.lila_img').addClass('active'); $('.lila_text').addClass('active'); $('.modal').addClass('active');">
          <img src="/anim/lila/li1.png" class="x li1 active">
          <img src="/anim/lila/li2.png" class="x li2">
          <img src="/anim/lila/li3.png" class="x li3">
          <img src="/anim/lila/li4.png" class="x li4">
        </div>

        <div class="kimi active" onclick="$('.kimi_img').addClass('active'); $('.kimi_text').addClass('active'); $('.modal').addClass('active');">
          <img src="/anim/kimi/k1.png" class="x k1 active">
          <img src="/anim/kimi/k2.png" class="x k2">
          <img src="/anim/kimi/k3.png" class="x k3">
          <img src="/anim/kimi/k4.png" class="x k4">
          <img src="/anim/kimi/k5.png" class="x k5">
          <img src="/anim/kimi/k6.png" class="x k6">
          <img src="/anim/kimi/k7.png" class="x k7">
          <img src="/anim/kimi/k8.png" class="x k8">
        </div>

        <div class="mimi" onclick="$('.mimi_img').addClass('active'); $('.mimi_text').addClass('active'); $('.modal').addClass('active');">
          <img src="/anim/mimi/m1.png" class="x m1 active">
          <img src="/anim/mimi/m2.png" class="x m2">
          <img src="/anim/mimi/m3.png" class="x m3">
          <img src="/anim/mimi/m4.png" class="x m4">
          <img src="/anim/mimi/m5.png" class="x m5">
          <img src="/anim/mimi/m6.png" class="x m6">
          <img src="/anim/mimi/m7.png" class="x m7">
          <img src="/anim/mimi/m8.png" class="x m8">
        </div>

        <div class="ray" >
          <img src="/anim/m.png" class="m">
          <a href="https://lincolnvirus.com/projects/ru/chestnyy_eyb/teoria_raskopok.html"><img src="/anim/stelaj2.png" class="stelaj2"></a>
          <div class="rr" onclick="$('.ray_img').addClass('active'); $('.ray_text').addClass('active'); $('.modal').addClass('active');">
            <img src="/anim/ray/r1.png" class="x r1 active">
            <img src="/anim/ray/r2.png" class="x r2">
            <img src="/anim/ray/r3.png" class="x r3">
            <img src="/anim/ray/r4.png" class="x r4">
            <img src="/anim/ray/r5.png" class="x r5">
            <img src="/anim/ray/r6.png" class="x r6">
            <img src="/anim/ray/r7.png" class="x r7">
            <img src="/anim/ray/r8.png" class="x r8">
          </div>
        </div>
      </div>
    </div>
</div>