<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}
        {{page.title}} / {{site.title}}
      {% else %}
        {{site.title}}
      {% endif %}
    </title>
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico">
<!--     <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">


    <link rel="image_src" href="{{site.baseurl}}/img/og.jpg">
    {% if site.fb_app_id %}
    <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:title" content="{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}">
    <meta property="og:description" content="{% if page.meta %} {{page.meta}} {% else %} {{site.description}} {% endif %}">
    <meta property="og:locale" content="ru-RU">
    <meta property="og:image" content="{{site.baseurl}}/img/og.jpg">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    <meta name="twitter:creator" content="@{{ site.twitter_username }}" />
    <meta name="twitter:title" content="{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}" />
    <meta name="twitter:description" content="{% if page.meta %} {{page.meta}} {% else %} {{site.description}} {% endif %}">
    <meta name="twitter:image" content="{{site.baseurl}}/img/og.jpg" /> -->

    <!-- Yandex tableau -->
    <!-- <meta name="yandex-tableau-widget" content="logo={{site.baseurl}}/img/tableau.png, color=#f5f2f9" /> -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if IE 7]-->
    <!-- <link rel="stylesheet" href="{{site.baseurl}}/plugins/font-awesome-4.5.0/css/font-awesome-ie7.min.css"> -->
    <!--[endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <!--[if IE]-->
    <link rel="stylesheet" href="{{site.baseurl}}/css/style-IE.css">
    <!--[endif]-->

    <script src="{{site.baseurl}}/js/jquery-1.11.3.min.js"></script>
    <script src="{{site.baseurl}}/js/particles/particles.min.js"></script>
    <script src="{{site.baseurl}}/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </head>
  <body>

    <div class="particles wrap">
      <div id="particles-js-test"></div>
    </div>
    <!-- <div id="grid"></div> -->

    {% include header.html %}



    {{ content }}



    {% include footer.html %}


<!--     <div id="center" class="text-center">
        <img src="./img/logo.png" alt="">
    </div> -->


  </body>
</html>