---
layout: default
---

<div class="content wrap">

  <div class="container lead">
    <div class="row dark-bg justify-content-center">
      <div class="col col-md-8">
        <h3>{{page.slogan_top}}</h3>
      </div>
    </div>
    <div class="row justify-content-center mt-2 mt-md-5">
      <div class="col col-md-6 text-center">
        <div class="feature feature-big text-center">
          <img class="lead-logo" src="{{site.baseurl}}/img/logo.svg" alt="Lincoln virus">
        </div>
      </div>
    </div>
    <div class="row dark-bg mt-5 justify-content-center">
      <div class="col col-md-8 mt-md-5">
        <h3>{{page.slogan_bottom}}</h3>
      </div>
    </div>
  </div>

  <div class="container mt-1 mb-1 pt-1 pb-1 mt-md-5 mb-md-5 pt-md-5 pb-md-5">
    <div class="row">
      <div class="col text-center">
        <a href="#herosection" class="scroll"><img src="{{site.baseurl}}/img/scroll.gif" alt=""></a>
      </div>
    </div>
  </div>

  <div id="herosection" class="container mt-2 mb-2 pt-2 pb-2 mt-md-5 mb-md-5 pt-md-5 pb-md-5">
    <div class="row">
      <div class="col-12 col-lg-6 dark-bg">
        <h1 class="slogan mt-4 mb-4 mt-md-5 mb-md-5">{{page.slogan}}</h1>
      </div>
      <div class="col-12 col-lg-6">
<!--             <div class="feature feature-big text-center">
          <h2 class="price">$27,000</h2>
        </div> -->
        <div class="card mt-4 pb-4 mt-md-5 pb-md-4">
          <div class="row justify-content-center">
            <div class="col-10 text-center">
              <h2 class="price pb-2 pb-md-3">{{site.total}}</h2>
              <h4>{{page.total_description}}</h4>
            </div>
          </div>
        </div>
        
        <div class="text-center mt-4 mt-md-5">
          <a href="{{site.total_link_1}}" class="btn btn-primary clearfix btn-donate" target="_blank">
            <span class="left">{{page.total_btn_1}}</span>
            <img src="{{site.baseurl}}/img/payment_systems_1.png" alt="WebMoney" class="right">
          </a>
        </div>
        
      </div>
    </div>
  </div>

</div>
