---
layout: default
---


<div class="content wrap">
  <div class="container">
    
    <div class="row justify-content-center mb-5 page-header">
      <div class="col-md-10">
        <div class="post">
          <div class="post-header dark-bg text-center" style="background-image:url('{{site.baseurl}}/assets/test-img/1.png');">
            <h2 class="title">{{page.title}}</h2>
            <p class="date">27.10.2017</p>
          </div>
          <div class="post-content">
            {{content}}
          </div>
        </div>
      </div>
    </div>


    <div class="row pagination pagination-post justify-content-center">

      <div class="col-12 col-md-5 mb-4">
        <a href="" class="pag-btn pag-btn-back">
          <span class="link"><i class="fa fa-chevron-left"></i>&nbsp;Предыдущая новость</span>
          <span class="date">27.10.2016</span>
          <span class="title">Акция «Учись, малыш»</span>
        </a>
      </div>

      <div class="col-12 col-md-5 mb-4">
        <a href="" class="pag-btn pag-btn-right">
          <span class="link text-right">Следующая новость&nbsp;<i class="fa fa-chevron-right"></i></span>
          <span class="date">01.11.2017</span>
          <span class="title">Акция «Не учись, малыш»</span>
        </a>
      </div>

    </div>


  </div>
</div>