---
layout: default

title: Технические советники серии REAl
breadcrumb: Технические советники серии REAl

meta: Здесь будет какой-то текст. Я конкретный не нашел, поэтому просто заполняю его «рыбой» для оценки вида.

lang: ru
ref: ea
---

<div class="content wrap">
  <div class="container">

  <div class="row justify-content-center mb-5 page-header">
    <div class="col dark-bg text-center">
      <h1>{{page.title}}</h1>
      <p class="meta mt-4">{{page.meta}}</p>
    </div>
  </div>


  <div class="row">

    {% assign techs = (site.pages | where: "category" , "ea") %}
    {% for ea in techs %}
      {% if ea.logo %}
      <div class="col-lg-4">
        <a href="{{site.baseurl}}{{ea.url}}" class="technical-card tc-w-l">
          <img src="{{site.baseurl}}/img/{{ea.category}}/{{ea.logo}}" alt="">
          <h5 class="text-center">{{ea.title}}</h5>
        </a>
      </div>
      {% else %}
      <div class="col-lg-4">
        <a href="{{site.baseurl}}{{ea.url}}" class="technical-card">
          <h2 class="text-center">{{ea.title}}</h2>
        </a>
      </div>
      {% endif %}
    {% endfor %}

  </div>


  {% include pagination.html %}

  </div>
</div>